/* normalize and html5 reset mix */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, progress,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}


/* Contain overflow in all browsers. */
pre {
  overflow: auto;
}

/* Address odd `em`-unit font size rendering in all browsers. */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/* Re-set default cursor for disabled elements.*/

button[disabled],
html input[disabled] {
  cursor: default;
}

/*  Remove inner padding and border in Firefox 4+. */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
input[type=search] {
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
 }

/* Custom code  */

/* global settings */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  overflow-y: scroll;
  background: #fff;
}

input:focus {
  outline: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:focus {
  outline: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

#main-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

.content-wrap {
  width: 98%;
  max-width: 1140px;
  margin: 0 auto;
  float: none !important;
}

.content-wrap-wide {
  width: 98%;
  max-width: 1270px;
  margin: 0 auto;
  float: none !important;
}

header,
main,
section,
article,
footer {
  position: relative;
}

.slider,
#about,
#habilities,
#services,
#cases,
#press,
#about-1,
#about-2,
#about-3,
#about-4 {
  padding: 100px 0px;
}

h2 {
  margin-bottom: 44px !important;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -2.4px;
}

h4 {
  font-size: 26px;
  line-height: 35px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -.4px;
}

h6 {
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 4px;
  font-size: 14px;
  color: rgba(27, 27, 27, 0.5);
  text-align: left;
}

p {
  font-family: 'Fira Sans';
  font-size: 15px;
  font-weight: 300;
}

span {
  display: block;
  color: rgba(27, 27, 27, 0.8);
  line-height: 28px;
  font-size: 18px;
}

a {
  color: #1c1d1b;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  transition: all .25s ease;
}

a:hover {
  color: #3f9f42;
}

.btn {
  padding: 16px 36px 14px;
  width: 164px;
  height: auto;
  line-height: 22px;
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 16px;
  border-style: solid;
  border-width: 2px;
  margin: 0px;
  border-radius: 2px;
  transition: ease-in-out .5s;
}

.normal-btn {
  background-color: rgb(63, 159, 66);
  border-color: rgb(63, 159, 66);
  color: #fff;
}

.normal-btn:hover {
  background-color: rgba(63, 159, 66, 0);
  color: rgb(28, 29, 27);
}

.outline-btn {
  border-color: rgb(63, 159, 66);
  color: rgb(28, 29, 27)
}

.outline-btn:hover {
  background: rgb(63, 159, 66);
  color: #fff;
}

.white-btn {
  background: #fff;
  border-color: #fff;
}

.white-btn:hover {
  border-color: rgb(63, 159, 66);
  background: rgb(63, 159, 66);
  color: #fff;
}

.black-btn {
  background: #1c1d1b;
  border-color: #1c1d1b;
  color: #fff;
}

.black-btn:hover {
  border-color: rgb(63, 159, 66);
  background: rgb(63, 159, 66);
  color: #000;
}

.accordion {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 14px 20px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.accordion-black {
  background: #000;
  color: #fff;
}

.accordion-white {
  background: #fff;
  color: #000;
}

/* INDEX.HTML CSS ---------------------------------------------------------------------------------------------------------- */


/* MAIN ---------------------------------------------------------------------------------------------------------- */

/* about ---------------------------------------------------------------------------------------------------------- */

#about .quote {
  position: absolute;
  left: 200px;
  bottom: -57px;
  width: 356px;
  letter-spacing: 1.5px;
  padding: 35px 50px 10px;
  background-color: #3f9f42;
  color: #fff;
}

#about .quote p {
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0;
  font-weight: 400;
}


#about .fa-quote-left {
  font-size: 80px;
  position: absolute;
  top: 10px;
  left: -50px;
}

#about .about {
  padding-left: 80px;
}

.bor-bott {
  border-bottom: 1px solid #f3f1f1;
  margin-top: 37px;
}

/* habilities -----------------------------------------------------------------------------------------------------*/

#habilities i {
  margin-bottom: 20px;
  color: #3f9f42;
  font-size: 60px;
  transition: ease-in-out .25s;
  cursor: pointer;
}

#habilities i:hover {
  opacity: .8;
}

#habilities .box {
  padding: 0px 20px;
}

#habilities .box h6 {
  color: #1c1d1b;
  font-weight: 700;
}

#habilities .box p {
  font-size: 15px;
  color: #999999;
  line-height: 20px;
}

#habilities .box a {
  border-bottom: 2px solid #3f9f4282;
  padding-bottom: 5px;
  transition: ease-in-out .25;
}

#habilities .box a:hover {
  border-bottom: 2px solid #3f9f42;
}

/* quote -----------------------------------------------------------------------------------------------------*/

#quote {
  padding: 70px 0px 50px;
  background: #c41b79;
  color: #fff;
}

#quote h3 {
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

#quote p {
  color: rgba(255, 255, 255, 0.8);
}

#quote a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* services -----------------------------------------------------------------------------------------------------*/

#services {
  background: url(./assets/services-bg.jpg) fixed;
  background-size: cover;
  text-align: center;
}

#services h6 {
  text-align: center;
}

#services .service-box {
  border: 1px solid rgba(28, 29, 27, .25);
  padding: 40px 27px 25px;
  cursor: pointer;
}

#services i {
  margin-bottom: 20px;
  color: #3f9f42;
  font-size: 60px;
}

#services h5 {
  margin-bottom: 20px;
  color: #1c1d1b;
  font-family: 'Nunito', sans-serif;
  font-size: 24px !important;
  letter-spacing: -1px;
  font-weight: 700;
  line-height: 24px;
}

#services p {
  color: #999999;
  font-family: 'Fira Sans';
  line-height: 24px;
}

#services .service-box:hover,
#services .service-box:hover i,
#services .service-box:hover h5,
#services .service-box:hover p {
  background: #3f9f42;
  color: #fff;
}

/* cases -----------------------------------------------------------------------------------------------------*/

#cases,
#cases h6 {
  text-align: center;
}

#cases h6 {
  margin-bottom: 20px;
}

#cases .wrapper {
  border-radius: 5px !important;
}

#cases .case-box-1,
#cases .case-box-2,
#cases .case-box-3 {
  width: 100%;
  height: 100%;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: ease-in-out .25s;
}

#cases .case-box-1 {
  background: url(./assets/casebox-1.jpg);
}

#cases .case-box-2 {
  background: url(./assets/casebox-2.jpg);
}

#cases .case-box-3 {
  background: url(./assets/casebox-3.jpg);
}

/* move fx on hover */
#cases .case-box-1:hover,
#cases .case-box-2:hover,
#cases .case-box-3:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 35px 0 rgba(53, 82, 99, .3);
}

/* move fx on hover */

/* opacity fx on hover */
.opacity-fx {
  display: block;
  padding: 70px 30px;
  width: 100%;
  height: 100%;
  background: #00000096;
  opacity: 0;
  transition: ease-in-out .25s;
}

.opacity-fx:hover {
  opacity: 1;
}

/* opacity fx on hover */

#cases .opacity-fx span {
  margin-bottom: 20px;
  color: #3f9f42 !important;
  font-size: 15px;
  line-height: 1.6em;
}

#cases .opacity-fx h4 {
  margin-bottom: 20px;
  text-align: center;
  line-height: 30px;
  font-weight: 600;
  font-size: 24px;
}

#cases .opacity-fx h4 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
}

/* press -----------------------------------------------------------------------------------------------------*/

#press {
  background: url(./assets/services-bg.jpg) fixed;
  background-size: cover;
  text-align: center;
}

#press h6 {
  margin-bottom: 20px;
  text-align: center;
}

#press h2 {
  margin-bottom: 60px !important;
}

#press .brand-logo img {
  height: 53px;
  cursor: pointer;
  filter: grayscale(1);
}

#press .brand-logo img:hover {
  filter: none;
}

#press .testimonial {
  margin: 60px 120px 0px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: -1.4px;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}

/* numbers -----------------------------------------------------------------------------------------------------*/

#numbers {
  border-radius: 4px;
  padding: 60px 60px 80px;
  background-image: url(./assets/services-bg.jpg);
  background-size: cover;
  color: #fff;
  text-align: left;
  transform: translateY(-50px);
}

#numbers.green-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 158, 5);
}

#numbers h6 {
  color: #fff;
  text-align: left;
}

#numbers .counter span {
  color: #fff !important;
  font-family: 'Fira Sans';
}

#numbers .counter span.number {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

#numbers .counter .description {
  margin-top: 3px;
  color: rgba(255, 255, 255, .8) !important;
  font-size: 15px;
  line-height: 30px;
}

#numbers .wrapper a {
  color: #fff;
  font-size: 20px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

#numbers .wrapper i {
  font-size: 135px;
  color: #fff;
  transition: ease-in-out .25s;
}

#numbers .wrapper i:hover {
  text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.64);
}

#numbers .wrapper a.text {
  right: 80px;
  position: absolute;
}


/* GO TO TOP -----------------------------------------------------------------------------------------------------*/

.scroll_To_Top {
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 1000;
  display: none;
}

.fa-caret-square-up {
  color: rgb(63, 159, 66);
}

.fa-caret-square-up:hover {
  color: rgb(63, 159, 66);
}

/* ABOUT.HTML CSS -----------------------------------------------------------------------------------------------------*/

/* about-1 -----------------------------------------------------------------------------------------------------*/

#about-1 .video-wrap,
#portfolio-detail .video-wrap {
  padding-right: 30px;
}

#about-1 .video-bg,
#portfolio-detail .video-bg {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 510px;
  background: url(./assets/video-bg.jpg);
  background-size: cover;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px 1px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 15px 15px 1px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 15px 15px 1px 0px rgba(0, 0, 0, 0.15);
}

#about-1 .video-bg i,
#portfolio-detail .video-bg i {
  display: inline-block;
  position: absolute;
  padding: 100%;
  top: 50%;
  left: 50%;
  padding: 100%;
  font-size: 150px;
  color: #fff;
  transform: translate(-50%, -50%);
  transition: ease-in-out .25s;
}

#about-1 .video-bg i:hover,
#portfolio-detail .video-bg i:hover {
  background: #00000080;
}

#about-1 h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: -2.4px;
}

#about-1 p {
  font-family: 'Fira Sans';
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #1c1d1b;
}

/* about-2 -----------------------------------------------------------------------------------------------------*/

#about-2 {
  padding: 0;
}

#about-2 .black-bg {
  background: #1c1d1b;
  color: #fff;
}

#about-2 .image-bg {
  background: url(./assets/mission.jpg);
}

#about-2 .content-wrap {
  padding: 15%;
}

#about-2 h4 {
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 35px;
  font-weight: 700;
  letter-spacing: -.4px;
}

#about-2 p {
  line-height: 28px;
  font-family: 'Fira Sans';
  font-size: 15px;
  font-weight: 300;
}

/* about-3 -----------------------------------------------------------------------------------------------------*/

#about-3 h3 {
  margin-bottom: 40px;
  font-size: 26px;
  line-height: 30px;
  color: #1c1d1b;
  font-weight: 700;
  letter-spacing: -1px;
}

#about-3 .item .box-20 {
  width: 20%;
  position: relative;
  float: left;
}

#about-3 .item .box-80 {
  width: 80%;
  float: left;
}

#about-3 p {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
}

#about-3 i {
  color: #3f9f42;
  font-size: 70px;
}

#about-3 .item h5 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* about-4 -----------------------------------------------------------------------------------------------------*/

#about-4 {
  padding: 0;
  background: url(./assets/mission_bg_2.jpg);
  text-align: center;
  color: #fff;
}

#about-4 .overlay {
  padding: 100px 0;
  background: #00000070;
}

#about-4 h2 {
  margin-bottom: 0 !important;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
  letter-spacing: -2.4px;
}

/* SERVICES.HTML CSS ---------------------------------------------------------------------------------------------------------- */

/* MAIN ---------------------------------------------------------------------------------------------------------- */

#main.service-grid-title h3 {
  margin-top: 70px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}

#main.service-grid-title p.intro {
  margin-bottom: 30px;
  font-family: 'Fira Sans';
  color: #1c1d1b;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6em;
}

.service-1,
.service-2,
.service-3,
.service-4,
.service-5,
.service-6,
.service-7,
.service-8,
.service-9,
.service-10 {
  margin-bottom: 30px;
}

.services-grid .container {
  position: relative;
  padding: 0;
  box-shadow: none;
  overflow: hidden;
}

.services-grid .container a {
  transition: all .25s ease !important;
}

.services-grid .container a img {
  display: block;
  max-width: 100%;
  height: auto;
}

.services-grid .container .service-content {
  padding: 30px 30px 26px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: all .3s;
  background-color: rgba(51, 51, 51, .7);
  color: #fff;
  bottom: -135px;
}

.services-grid .container:hover .service-content {
  bottom: 0;
}

.services-grid .container .service-content a.title {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -.4px;
}

.services-grid .container .service-content a.title:hover {
  color: #3f9f42;
}

.services-grid .container .service-content p {
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
}

.services-grid .container .service-content a.link {
  color: #3f9f42;
  text-decoration: underline;
  font-size: 14px !important;
  letter-spacing: .4px;
  font-weight: 300;
  transition: ease-in-out .25s;
}

.services-grid .container .service-content .link:hover {
  color: #fff;
}

.services-grid .container .service-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 60px;
  height: 10px;
  background-color: #3f9f42 !important;
}

/* ASIDE ---------------------------------------------------------------------------------------------------------- */

#aside {
  margin: 70px 0 30px;
  border-top: 3px solid #213364;
  padding-top: 20px;
}

#aside .our-services h5 {
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

#aside .our-services .services-list a {
  display: inline-block;
  padding: 16px 24px 14px;
  margin-bottom: 1px;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Fira Sans';
  transition: ease-in-out .25s;
}

#aside .our-services .services-list a:hover {
  color: #fff;
  background: #1c1d1b;
}

#aside .our-services .search-box {
  margin: 30px 0px;
}

#aside .our-services .search-box .form-control {
  border-radius: 0;
  padding: 5px 10px;
  width: 70%;
  float: left;
  background: #eeeff2;
  border: 1px solid #e5e7e8;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
}

#aside .our-services button[type="submit"] {
  border: none;
  padding: 7px 10px;
  width: 20%;
  background: #000;
  color: #fff;
}

#aside .testimonial .quote {
  position: relative;
  border-top: 3px solid #213364;
  padding-top: 30px;
}

#aside .testimonial .quote p {
  position: relative;
  background: #eeeff2;
  margin: 0 0 23px;
  padding: 25px 30px 60px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

#aside .testimonial .quote i {
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: 50px;
}

#aside .testimonial .quote p::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 65px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 14px 0 0;
  border-color: #eeeff2 transparent transparent;
}

#aside .testimonial .author img {
  display: block;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
}

#aside .testimonial .author .info h6 {
  margin-top: 2px;
  margin-bottom: 5px;
  font-weight: 600;
  text-transform: none;
  font-family: 'Nunito', sans-serif;
  color: #1c1d1b;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}

#aside .testimonial .author .info span {
  font-size: 13px;
}

/* PORTFOLIO.HTML CSS ---------------------------------------------------------------------------------------------------------- */

/* MAIN ---------------------------------------------------------------------------------------------------------- */

#portfolio {
  margin-top: 70px;
}

#portfolio .title,
#portfolio .title h4 {
  padding: 0 100px;
  text-align: center;
}

#portfolio .title h2 {
  margin-bottom: 30px !important;
  line-height: 50px;
  color: #1c1d1b;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: -2.4px;
}

#portfolio .title h4 {
  font-size: 20px;
  color: #777777;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: -.4px;
}

#portfolio .porfolio-grid {
  margin: 50px 0;
}

#portfolio .porfolio-grid .wrapper {
  margin-bottom: 20px;
}

#portfolio .case-box-1,
#portfolio .case-box-2,
#portfolio .case-box-3,
#portfolio .case-box-4,
#portfolio .case-box-5,
#portfolio .case-box-6,
#portfolio .case-box-7,
#portfolio .case-box-8,
#portfolio .case-box-9 {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: cover !important;
  color: #fff;
  cursor: pointer;
  transition: ease-in-out .25s;
}

#portfolio .case-box-1 {
  background: url(./assets/casebox-1.jpg);
}

#portfolio .case-box-2 {
  background: url(./assets/casebox-2.jpg);
}

#portfolio .case-box-3 {
  background: url(./assets/casebox-3.jpg);
}

#portfolio .case-box-4 {
  background: url(./assets/casebox-4.jpg);
}

#portfolio .case-box-5 {
  background: url(./assets/casebox-5.jpg);
}

#portfolio .case-box-6 {
  background: url(./assets/casebox-6.jpg);
}

#portfolio .case-box-7 {
  background: url(./assets/casebox-7.jpg);
}

#portfolio .case-box-8 {
  background: url(./assets/casebox-8.jpg);
}

#portfolio .case-box-9 {
  background: url(./assets/casebox-9.jpg);
}

#portfolio .opacity-fx {
  padding: 20px 30px;
}

/* CONTACT.HTML CSS ---------------------------------------------------------------------------------------------------------- */


/* contact-form ---------------------------------------------------------------------------------------------------------- */

#contact-form {
  margin: 70px 0;
}

#contact-form h2 {
  font-size: 44px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -2.4px;
}

#contact-form input,
#contact-form textarea {
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-family: 'Fira Sans';
  font-weight: 300;
}

#contact-form input {
  margin: 0 10px 30px 10px;
  width: calc(50% - 20px);
  float: left;
}

#contact-form textarea {
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-bottom: 30px;
  color: #757575;
}

#contact-form textarea:focus {
  outline: none;
}

#contact-form input[type="submit"] {
  width: auto;
  padding: 20px 40px;
  background: #1c1d1b;
  color: #fff;
  font-family: 'Fira Sans';
  font-size: 18px;
  font-weight: 600;
}

/* SERVICE-DETAIL.HTML CSS -----------------------------------------------------------------------------------------------------*/

/* MAIN -----------------------------------------------------------------------------------------------------*/

#service-detail-page {
  margin-top: 70px;
  margin-bottom: 70px;
}

#service-detail-page #aside {
  margin-top: 0px;
}

#service-detail-page #main h3 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 30px;
  line-height: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}

#service-detail-page #main p {
  line-height: 24px;
}

#service-detail-page #main img {
  width: 100%;
  margin: 30px 0;
}

#service-detail-page #main blockquote {
  margin-bottom: 30px;
  border-left: 5px solid #1c1d1b;
  padding: 26px 30px;
  background: #eeeff2;
  font-family: 'Fira Sans';
  font-size: 18px;
  font-weight: 300;
}

/* PORTFOLIO-DETAIL.HTML CSS ---------------------------------------------------------------------------------------------------------- */

/* MAIN ---------------------------------------------------------------------------------------------------------- */

#portfolio-detail {
  margin-top: 70px;
}

#portfolio-detail img {
  margin-bottom: 30px;
}

#portfolio-detail h3 {
  margin-bottom: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -1px;
  color: #1c1d1b;
}

#portfolio-detail p {
  color: #1c1d1b;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

#portfolio-detail .video-bg {
  background: url(./assets/case_9.jpg);
  background-size: cover;
}

#portfolio-detail .video-bg {
  height: 240px;
}

#portfolio-detail .video-bg i {
  font-size: 70px;
}

#portfolio-detail h4 {
  margin: 25px 0;
  font-size: 20px;
  text-transform: uppercase;
}

#portfolio-detail .project-details {
  position: relative;
  margin-bottom: 5px;
  border-left: 5px solid #1c1d1b;
  padding: 15px 30px;
  background: #f6f7f8;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

#portfolio-detail .project-details .title {
  position: relative;

}

#portfolio-detail .project-details .desc {
  position: absolute;
  right: 30px;
  top: 15px;
  text-transform: capitalize;
  font-weight: 400;
}

#portfolio-detail .client-testimonial {
  position: relative;
}

#portfolio-detail .client-testimonial img {
  padding-right: 50px;
  border-right: 1px solid #ccc;
  width: 100%;
}

#portfolio-detail .client-testimonial h6,
#portfolio-detail .client-testimonial span {
  text-align: center;
}

#portfolio-detail .client-testimonial h6 {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0px;
  color: #515662 !important;
}

#portfolio-detail .client-testimonial span {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  color: #888888;
}

#portfolio-detail .client-testimonial p {
  padding-left: 15px;
  padding-bottom: 0;
  padding-top: 70px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 300;
  color: #1c1d1bb3;
}

#portfolio-detail .client-testimonial i {
  position: absolute;
  padding: 20px;
  left: 247px;
  bottom: 144px;
  font-size: 26px;
  background: #fff;
}

#portfolio-detail .challenge {
  margin: 50px 0;
}

#portfolio-detail .challenge .green-title {
  margin-bottom: 30px;
  padding: 10px 25px;
  text-transform: uppercase;
  background: #3f9f42;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
}


#portfolio-detail .challenge h4 {
  margin: 15px 0;
  font-size: 24px;
  text-transform: none;
}

/* ASIDE ---------------------------------------------------------------------------------------------------------- */

#aside .featured-cases h5 {
  margin-bottom: 25px !important;
  font-weight: 700;
}

#aside .featured-cases .case-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

#aside .featured-cases .case-item:last-child {
  border-bottom: none;
}

#aside .featured-cases .case-item img {
  float: left;
  margin-right: 15px;
}

#aside .featured-cases .case-item h4 {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

#aside .featured-cases .case-item span {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  font-family: 'Fira Sans';
}

#aside .download-item {
  margin-bottom: 10px;
  padding: 15px;
  text-transform: uppercase;
  font-size: 16px;
  background: #000;
}

#aside .download-item span {
  color: #fff;
}

#aside .download-item i {
  float: left;
  color: #fff;
  font-size: 28px;
  padding-right: 15px;
  border-right: 3px solid #fff;
  margin-right: 15px;
}

#aside .testimonial.download-files .quote {
  margin-top: 30px;
}

/* 404.HTML CSS ---------------------------------------------------------------------------------------------------------- */

#message-404 {
  margin: 70px 0;
}

#message-404 .message-box {
  text-align: center;
  font-family: 'Fira Sans';
}

#message-404 .message-box h3 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  font-size: 250px;
}

#message-404 .message-box span {
  margin-bottom: 20px;
  padding: 0 230px;
  font-size: 40px;
  line-height: initial;
  text-transform: uppercase;
}

#message-404 .message-box a {
  display: inline-block;
  border: 2px solid #3f9f42;
  padding: 20px 30px;
  background: #3f9f42;
  color: #fff;
}

#message-404 .message-box a:hover {
  background: #fff;
  color: #3f9f42;
}

/* MEDIA QUERIES -----------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 820px) {
  .slider,
  #about,
  #habilities,
  #services,
  #cases,
  #press {
    padding: 50px 0px;
  }

  h2 {
    margin-bottom: 20px !important;
    font-size: 40px;
  }

  /* INDEX.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  /* about ---------------------------------------------------------------------------------------------------------- */

  #about {
    padding-bottom: 0px;
  }

  #about .about {
    padding-left: 10px;
  }

  #about .image-quote img {
    margin-bottom: 20px;
  }

  #about .quote {
    display: none;
  }

  /* habilities ---------------------------------------------------------------------------------------------------------- */

  #habilities,
  #habilities h6 {
    text-align: center;
  }

  #habilities .box {
    padding: 0px 20px 50px;
  }

  /* quote ---------------------------------------------------------------------------------------------------------- */

  #quote a {
    position: relative;
  }

  /* services ---------------------------------------------------------------------------------------------------------- */

  #services {
    padding-top: 80px;
  }

  /* cases ---------------------------------------------------------------------------------------------------------- */

  #cases .wrapper {
    margin-bottom: 10px;
  }

  /* press ---------------------------------------------------------------------------------------------------------- */

  #press h2 {
    margin-bottom: 10px !important;
  }

  #press .brand-logo img {
    width: 126px;
    height: auto;
  }

  #press .testimonial {
    margin: 60px 10px 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  /* numbers ---------------------------------------------------------------------------------------------------------- */

  #numbers {
    border-radius: 0;
    padding: 60px 10px 80px;
    text-align: center;
  }

  #numbers h6 {
    margin-bottom: 0;
    text-align: center;
  }

  #numbers h2 {
    font-size: 30px;
  }

  #numbers .wrapper a {
    position: relative;
  }

  #numbers .counter span.number {
    font-size: 70px;
  }

  #numbers .counter .description {
    margin-bottom: 30px;
    font-size: 18px;
  }

  #numbers .wrapper {
    margin-top: 30px;
  }

  #numbers .counter .fa-play-circle {
    display: block;
  }

  #numbers .wrapper a.text {
    display: block;
    position: relative;
    right: 0;
    margin-top: 20px;
  }

  
  /* ABOUT.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* about-1 ---------------------------------------------------------------------------------------------------------- */

  #about-1 {
    padding: 0px 0px 50px;
    margin-top: 65px;
  }

  #about-1 .video-bg {
    box-shadow: none;
    background-position: -202px;
  }

  #about-1 .video-wrap {
    padding: 0px;
  }

  #about-1 .video-wrap {
    margin-bottom: 20px;
  }

  /* about-2 ---------------------------------------------------------------------------------------------------------- */

  #about-2 .image-bg {
    display: none;
  }

  /* about-3 ---------------------------------------------------------------------------------------------------------- */

  #about-3 {
    padding: 60px 0px;
    text-align: center;
  }

  #about-3 .item .box-20,
  #about-3 .item .box-80 {
    margin-bottom: 10px;
    width: 100%;
  }

  #about-3 h3 {
    margin-bottom: 30px;
  }

  #about-3 .why-we-exist {
    padding-top: 30px;
  }

  /* about-4 ---------------------------------------------------------------------------------------------------------- */

  #about-4 h2 {
    line-height: 50px;
    font-size: 30px;
  }

  /* SERVICES.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  #main.service-grid-title h3 {
    margin-bottom: 20px;
  }

  .services-grid .container .service-content {
    bottom: -190px;
  }

  .services-grid .service-3 .container .service-content {
    bottom: -170px;
  }

  /* ASIDE ---------------------------------------------------------------------------------------------------------- */

  #aside {
    margin-top: 30px;
  }

  #aside .testimonial .quote {
    padding-top: 40px;
  }

  #aside .our-services .search-box .form-control {
    width: 60%;
  }

  #aside .testimonial .author .info span {
    font-size: 8px;
    line-height: 8px;
  }

  /* PORTFOLIO.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  #portfolio .title,
  #portfolio .title h4 {
    padding: 0 5px;
  }

  /* CONTACT.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* contact-form ---------------------------------------------------------------------------------------------------------- */

  #contact-form input,
  #contact-form textarea {
    width: 100%;
    margin: 0 0 15px 0;
    padding: 10px;
  }

  #contact-form input[type="submit"] {
    width: 100%;
  }

  /* SERVICE-DETAIL.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  #service-detail-page #main {
    margin-top: 40px;
    border-top: 3px solid #213364;
    padding-top: 40px;
  }

  /* PORTFOLIO-DETAIL.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  #portfolio-detail .video-wrap {
    margin-bottom: 30px;
    padding: 0
  }

  #portfolio-detail .video-bg {
    box-shadow: none;
  }

  #portfolio-detail .client-testimonial {
    margin-top: 30px;
  }

  #portfolio-detail .client-testimonial img {
    margin-bottom: 10px;
    border-right: none;
    padding-right: 0;
  }

  #portfolio-detail .client-testimonial i {
    display: none;
  }

  #portfolio-detail .client-testimonial p {
    padding-left: 0;
    padding-top: 0;
    line-height: 32px;
    font-size: 18px;
  }

  #portfolio-detail .client-testimonial h6 {
    font-size: 12px;
  }

  #portfolio-detail .client-testimonial span {
    font-size: 12px;
  }

  #portfolio-detail .challenge {
    margin: 50px 0 0px;
  }

  #portfolio-detail .download-files {
    margin-top: 30px;
  }

  /* 404.HTML CSS ---------------------------------------------------------------------------------------------------------- */

  #message-404 .message-box h3 {
    font-size: 140px
  }

  #message-404 .message-box span {
    padding: 0;
    font-size: 30px;
  }

}

@media only screen and (max-width: 380px) {

  /* SERVICES.HTML ---------------------------------------------------------------------------------------------------------- */

  /* MAIN ---------------------------------------------------------------------------------------------------------- */

  .services-grid .container .service-content {
    bottom: -135px;
  }

  .services-grid .service-3 .container .service-content {
    bottom: -140px;
  }

  /* ASIDE ---------------------------------------------------------------------------------------------------------- */

  #aside .our-services .search-box .form-control {
    width: 70%;
  }

  #aside .testimonial .author .info span {
    font-size: 16px;
    line-height: 16px;
  }

}

/* MENU MOBILE ---------------------------------------------------------------------------------------------------------- */

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #09180af3;
  z-index: 9999;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}

#menu ul {
  height: 100%;
  transform: translateY(20%);
}

#menu ul li {
  padding: 15px;
}

#menu ul li a {
  color: #fff;
  font-size: 25px;
}

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}

.hidden {
  display: none;
}
