// Bottom (aplicated in all pages)

#bottom {
    background: $bottomBGColor;
    color: $color4;
    text-align: center;

    .bottom-card {
        padding: 30px 0;
    }

    h4 {
        color: #fff;
    }

    a {
        color: $color4;
        transition: ease-in-out .25s;

        &:hover {
            color: $color1;
        }
    }

    a.btn-secondary {
        color: #fff;
        transition: ease-in-out .25s;

        &:hover {
            background: $color1;
        }
    }

    .logo {
        display: inline-block;
        margin-bottom: 2rem;
        font-size: 2.2rem;
        font-weight: 700;
        color: $color1;
    }

    p {
        color: $color4;
    }
}

.social-list li {
    display: inline-block;
    padding: 15px;

    i {
        font-size: 1.5em;
        color: $color1;
        transition: ease-in-out .25s;

        &:hover {
            color: #fff;
        }
    }
}

.get-in-touch li {
    margin-bottom: 20px;

    i {
        padding-right: 15px;
    }

}

#bottom .services li {
    margin-bottom: 20px;
}

#bottom .tags a {
    display: inline-block;
    margin: 5px;
    border: 1px solid $color4;
    border-radius: 2px;
    padding: 10px 25px;
    transition: ease-in-out .25s;

    &:hover {
        border: 1px solid $color1;
    }
}