// Content light styles (Used on portfolio.html)

.content-light-styles {
    color: $color5;

    h2 {
        color: $color1;
        font-size: 3.4rem;
        font-weight: 800;
    }

    h4 {
        color: $color5;
    }
}

