// Our solutions (Used on services.html)

#our-solutions {
    text-align: center;

    .title {
        margin-bottom: 30px;
    }

    .card {
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 10%);
        margin: 35px 10px;
        padding: 40px 20px;

        i {
            font-size: 40px;
            color: $color1;
        }

        a i {
            font-size: 20px;
        }
    }
}



// Media queries (More than width 576px)

@media only screen and (min-width: 576px) {

    #our-solutions {

        .title {
            text-align: left;

            a {
                text-align: center;
            }
        }

        .card {
            margin: 15px 0;

            &:hover {
                background: $color1;

                i,
                h4,
                p {
                    color: #fff;
                }
            }
        }

    }
}
