// Partners (aplicated in pages: home)

#partners {
    background: $darkBGcolor;
    text-align: center;

    img {
        filter: brightness(0) invert(1);
    }
}

// Media queries (More than width 1200px)

@media only screen and (min-width: 1200px) {

    #partners img {
        width: 170px;
        transition: ease-in-out .25s;

        &:hover {
            transform: scale(1.05);
        }
    }

}