// Services icons (Used in about.html)

.services-icons {
    margin: 50px 0;
    font-size: 20px;
    font-weight: normal;

    li {
        border-top: 1px solid #ccc;
        padding: 30px 0;

        a {
            color: $color3;
        }
    }
}

.services-icons li:last-child {
    border-bottom: 1px solid #ccc;
}

.services-icons i,
.services-icons h5 {
    display: inline-block;
}

.services-icons i {
    color: $color1;
    font-size: 35px;
}

.services-icons h5 {
    padding-left: 30px;
}