/* global settings */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Arimo', serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: auto;
  color: #444;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f8f9fa;
}

input:focus {
  outline: 0;
}

a:focus {
  outline: 0;
}

form .form-control {
  font-size: .9rem;
}

/* GLOBAL CODE ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.container {
  max-width: 1200px !important;
}

.bg-primary {
  background: #feb500 !important;
}

.bg-dark {
  background: #181818 !important;
}

.text-primary {
  color: #feb500 !important;
}

.btn,
.btn-rounded {
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
  padding: 14px 48px;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 0;
}

.btn-rounded {
  border: 1px solid #feb500;
  border-radius: 5px;
}

.btn-rounded:hover {
  background: #ff6a00;
  color: #000 !important;
}

.btn-primary,
.btn-primary-rounded {
  background-color: #feb500;
  border-color: transparent;
  color: #fff !important;
}

.btn-primary:hover {
  color: #000 !important;
  background: #ff6a00;
  border: 1px solid #ff6a00;
}

.btn-dark-rounded {
  border-radius: 5px;
  background: #101010;
  color: #fff;
}

.btn-dark-rounded:hover {
  border: 1px solid #ff6a00;
  background: #ff6a00;
  color: #fff;
}

.page-header-breadcrumb {
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  border-radius: 2px;
  transform: translateY(-30px);
}

.page-header-breadcrumb a {
  color: #fff;
}

.btn-read-more {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 100;
  background: #feb500;
  color: #fff;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}

.btn-tag {
  display: inline-block;
  margin: 0 20px 20px 0;
  padding: 8px 10px;
  background: #f1f1f1;
  color: #444;
  font-size: .9rem;
  font-weight: 700;
  transition: ease-in-out .20s;
}

.btn-tag.active {
  color: #feb500;
}

.btn-tag:hover {
  color: #ff6a00;
  text-decoration: none;
}

.btn-social {
  display: inline-block;
  height: 31px;
  width: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 2px;
  font-size: 11px;
}

.btn-social a {
  color: #fff;
}

h1.main-title {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-indent: -9999em;
}

h2 {
  margin: 0;
  color: #272727;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 a {
  color: #202020;
  transition: ease-in-out .20s;
}

h3 a:hover {
  color: #ff6a00;
  text-decoration: none;
}

h4 {
  font-family: 'Poppins', san-serif;
  margin: 5px 0 0;
  color: #8c8c8c;
  font-size: .9rem;
  font-weight: 700;
  display: inline-block;
}

p {
  margin-bottom: 1rem;
  line-height: 1.7rem;
}

.blockquote:before {
  content: '“';
  margin-right: 5px;
  font-size: 45px;
  line-height: 30px;
  display: inline-block;
  vertical-align: bottom;
}

.blockquote:after {
  content: '”';
  margin-left: 5px;
  font-size: 45px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 20px;
}

.blockquote {
  font-size: 1.1rem;
}

.blockquote-f {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

cite {
  display: block;
  padding-left: 1rem;
  border-left: 1px solid #fff;
  margin-left: 2rem;
  font-size: .8rem;
  font-weight: 400;
  text-transform: capitalize;
  font-style: initial;
  font-family: 'Poppins', san-serif;
}

.form-control:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 0px;
  border-color: #ced4da;
}

/* 5 bootstrap columns css */

.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
  min-height: 1px;
  position: relative;
}

.col-xs-5 {
  float: left;
  width: 20%;
  flex: 0 0 20%;
}

@media (min-width: 768px) {
  .col-sm-5 {
    float: left;
    width: 20%;
    flex: 0 0 20%;
  }
}

@media (min-width: 992px) {
  .col-md-5 {
    float: left;
    width: 20%;
    flex: 0 0 20%;
  }
}

@media (min-width: 1200px) {
  .col-lg-5 {
    float: left;
    width: 20%;
    flex: 0 0 20%;
  }
}

/* MAIN ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* project details section */

.post-fields {
  font-family: Poppins, san-serif;
}

.post-fields h2.project-title {
  margin: 0 0 35px;
  color: #494949;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: initial;
}

.post-fields ul {
  margin-bottom: 40px;
  padding: 0;
  padding-right: 80px;
}

.post-fields ul li {
  margin-bottom: 15px;
}

.post-fields ul li strong {
  margin-right: 10px;
}

.post-fields .lists {
  font-size: .9rem;
}

.hover-zoom {
  opacity: 1;
  transition: ease-in-out .20s;
}

.hover-zoom:hover {
  opacity: .8;
}

.project-detail-carousel i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  opacity: 0;
  transition: ease-in-out .20s;
  text-shadow: 5px 4px 15px rgba(0, 0, 0, 0.56);
}

.project-detail-carousel i:hover {
  opacity: 1;
}

.project-detail-content {
  width: 85%;
  margin: 0 auto;
}

.project-detail-content ul {
  font-family: 'Poppins', san-serif;
  font-size: .9rem;
}

.project-detail-content ul li {
  margin-bottom: .8rem;
}

.project-detail-content ul li:before {
  content: '';
  background: #feb500;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 15px;
}

.form-box .section-title h2 {
  color: #fff;
}

.form-box form button {
  margin-left: 15px;
}

.social-box-mobile {
  padding: 15px 0 5px;
  margin: 30px 0;
  background: #f8f8f8;
  text-align: center;
}

.social-box {
  padding: 5px 0;
  margin: 40px 0;
  background: #f8f8f8;
  text-align: center;
}

.widget,
.widget a {
  color: #444;
}

.news-widget,
.projects-widget,
.categories-widget {
  font-family: 'Poppins', san-serif;
}

.widget-title {
  margin: 0 0 30px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
}

.widget-post-item {
  margin-bottom: 30px;
}

.widget-post-item .post-thumbnail {
  float: left;
  margin-right: 22px;
}

.widget-post-item .post-date {
  font-size: .8rem;
  text-transform: uppercase;
  line-height: 2rem;
  color: #feb500;
}

.widget-post-item .post-date a p {
  text-transform: initial;
  line-height: 1.3rem;
}

.projects-widget li {
  font-size: 1rem;
  font-weight: 600;
}

.projects-widget li,
.contact-widget li {
  margin-bottom: 2rem;
}

.projects-widget li a:after {
  position: absolute;
  right: 1rem;
  content: "\f054";
  font-family: fontawesome;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid;
  text-align: center;
  font-size: 11px;
  transform: translateY(-100%);
}

.archives-widget li,
.categories-widget li {
  margin-bottom: 1rem;
  font-size: .9rem;
}

.archives-widget li:before {
  content: "\f054";
  font-family: fontawesome;
  font-size: 10px;
  margin-right: 10px;
}

.categories-widget li {
  font-size: .8rem;
  font-weight: 600;
}

.categories-widget li span:last-child {
  float: right;
}

.blog-post-thumb img {
  width: 100%;
  margin-bottom: 20px;
}

/* contact page*/

.contact-section .header-title {
  padding: 60px 0 100px;
}

.contact-section#we-provide h2 {
  margin: 0 0 0px;
  font-size: 1.5rem !important;
}

.contact-section-title h4 {
  margin: 0;
  font-size: .8rem;
  font-weight: normal;
}

.blog-post-detail .help {
  width: 90% !important;
  max-width: 90% !important;
}

.blog-post-detail .mask {
  float: left;
  padding-right: 30px;
}


/* MEDIA QUERIES ----------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 576px) {
  /* MAIN ----------------------------------------------------------------------------------------------------------------------------------------------------------*/



  /* project details section */

  .form-box .get-quote {
    padding: 80px 50px;
  }

  .form-box .form-group {
    width: 100%;
  }

  .form-box form div {
    float: left;
  }

  .social-top-desk {
    top: 0%;
    transform: translateY(30%);
  }

  .widget a {
    transition: ease-in-out .20s;
  }

  .widget a:hover {
    text-decoration: none;
    color: #feb500;
  }

  .post-thumbnail a {
    height: 100%;
    display: block;
    overflow: hidden;
  }

  .post-thumbnail img {
    transition: ease-in-out .25s;
  }

  .post-thumbnail img:hover {
    transform: scale(1.1);
  }

  /**/

  .widget-post-item .post-date a p {
    font-size: .9rem;
  }

  .projects-widget li {
    width: 85%;
  }

  .projects-widget li a:after {
    transform: translateY(-150%);
  }

  .contact-widget a:hover {
    color: initial;
  }

  .categories-widget li {
    font-size: .9rem;
  }

  .blog-post-header .categories a {
    color: #feb500
  }

  /* contact section */
  .contact-section .header-title {
    padding: 120px 0 100px;
  }

  /* bottom 1 */

  .btn-primary:hover {
    color: #000 !important;
    background-color: #feb500;
    border: 1px solid #feb500;
  }

  .bottom-1 .btn-primary a:hover {
    color: #000;
  }

  /* bottom 2 */

  .bottom-2 a:hover,
  .bottom-3 a:hover,
  .bottom-4 a:hover {
    color: #fff;
    text-decoration: none;
  }

  .bottom-2 li a:after {
    display: none;
  }

  /* bottom 3 */

  .bottom-3 a,
  .bottom-3 span {
    font-size: 1rem;
  }

  .bottom-3 ul li i {
    margin-right: 15px;
  }

  /* bottom 4 */

  .bottom-4 a:hover {
    color: #bbb;
  }

  /* copyright */

  .copyright {
    background: #000 !important;
    font-size: 1.1rem;
  }

  .copyright a {
    color: #feb500;
  }

  .copyright a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1400px) {
  .follow-us-btn {
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Poppins', san-serif;
  }

  .follow-us-btn:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    border: 9px solid transparent;
    border-right-color: #1f1f1f;
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    margin: auto;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
  }

  .follow-us-btn a {
    padding: 14px 48px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    background-color: #101010;
    color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }

  .follow-us-btn a:hover {
    background-color: #ff6a00;
    text-decoration: none;
  }
}

@media (max-width: 380px) {
  .section-title h4:after {
    display: none;
  }
}