$primary-color: #ff451b;
$secondary-color: #ffb324;

$dark-background-color: #494b50;
$background-shape-color: #34353a;
$background-color-news: #5b5c64;

$text-color: #ffffff;
$dark20-text-color: #a7afbd;
$dark10-text-color: #d3d7df;

$selection-color: #fd5a35;

$portfolio-hover-color: #ff451ba3;

$main-transition: ease-in-out .25s;
$border-radius: 10px;