@import '../../Variables.scss';

.page-not-found {
    .img-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h3 {
            font-size: 80px;
            color: $secondary-color;
        }
    }
}

@media screen and (max-width:768px) {
    .page-not-found {
        .text-col {
            gap: 20px;
            align-items: center;
            text-align: center;
        }
    }
}